@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Home/Index#services">Services</a>
            </li>
            <li>
                <a href="/Home/Index#contact">Contact</a>
            </li>
            <li>
                <a href="/Account/Login">
                    @ViewData["FullName"]
                </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Home/Index#services">Services</a>
        </li>
        <li>
            <a href="/Home/Index#contact">Contact</a>
        </li>
        <li>
            <a href="/Manage/Index">Login</a>
        </li>
    </ul>
}
