@*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right top-nav" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Account/Login">
                    @ViewData["FullName"]
                </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-power-off fa-fw"></i> </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

    </ul>
}*@
