@if (Request.IsAuthenticated)
{
    <!-- Section -->
    <section class="manage-section-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Launch Software</h4>
                        </div>
                        <div class="panel-body">
                            <a href="/Software" class="btn btn-primary btn-lg btn-block">Launch Software</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <table style="width: 100%" border="0">
                                <tr>
                                    <td>
                                        <h4>Manage Settings</h4>
                                    </td>
                                    <td align="right">
                                        <button class="btn btn-default" data-toggle="tooltip" title="Edit" onclick="editPerosnalInformation()">
                                            <i class="fa fa-edit"></i> Edit
                                        </button>
                                        <a href="/Manage/ChangePassword" class="btn btn-default" data-toggle="tooltip" title="Change your password">
                                            <i class="fa fa-pencil"></i> Change Password
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <tr>
                                    <td class="td-pad">
                                        <i class="fa fa-user fa-fw"></i> &nbsp; Name
                                    </td>
                                    <td>
                                        <span id="userFullName"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-pad">
                                        <i class="fa fa-key fa-fw"></i> &nbsp; Username
                                    </td>
                                    <td>
                                        <span id="userUsername"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">

                </div>
            </div>
        </div>
    </section>
}
else
{
    <section>
        @{ Response.Redirect("~/Account/Login");}
    </section>
}
