<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>DLH - Loan Application List</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    @Html.Partial("HomeHeader")

    <section class="software-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="/Software">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <td>
                                                <i class="fa fa-dashboard fa-fw"></i> &nbsp; Dashboard
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <td>
                                                <i class="fa fa-wrench fa-fw"></i> &nbsp; Set-ups
                                            </td>
                                            <td align="right">
                                                <i class="fa fa-chevron-down fa-fw"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="/Software/ApplicantList" class="list-group-item">
                                            <i class="fa fa-users fa-fw"></i> &nbsp; Applicants
                                        </a>
                                        <a href="#" class="list-group-item"><i class="fa fa-black-tie fa-fw"></i> &nbsp; Employees</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <td>
                                                <i class="fa fa-bar-chart fa-fw"></i> &nbsp; Transactions
                                            </td>
                                            <td align="right">
                                                <i class="fa fa-chevron-down fa-fw"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="/Software/LoanApplicationList" class="list-group-item active">
                                            <i class="fa fa-file-text-o fa-fw"></i> &nbsp; Loan Applications
                                        </a>
                                        <a href="#" class="list-group-item"><i class="fa fa-money fa-fw"></i> &nbsp; Collections</a>
                                        <a href="#" class="list-group-item"><i class="fa fa-credit-card fa-fw"></i> &nbsp; Disbursements</a>
                                        <a href="#" class="list-group-item"><i class="fa fa-book fa-fw"></i> &nbsp; Journal Entries</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <td>
                                                <i class="fa fa-gears fa-fw"></i> &nbsp; Systems
                                            </td>
                                            <td align="right">
                                                <i class="fa fa-chevron-down fa-fw"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="/Software/CompanyList" class="list-group-item">
                                            <i class="fa fa-building fa-fw"></i> &nbsp; Company
                                        </a>
                                        <a href="#" class="list-group-item"><i class="fa fa-key fa-fw"></i> &nbsp; Users</a>
                                        <a href="/Software/SystemTables" class="list-group-item"><i class="fa fa-table fa-fw"></i> &nbsp; Tables</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <td>
                                                <i class="fa fa-print fa-fw"></i> &nbsp; Reports
                                            </td>
                                            <td align="right">
                                                <i class="fa fa-chevron-down fa-fw"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="list-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User security stamp
                        </div>
                        <div class="panel-body">
                            <p>Created by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampCreatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampCreatedDate">mm/dd/yyyy</span></small>
                            </div>
                            <hr />
                            <p>Updated by:</p>
                            <div style="padding-left: 10px;">
                                <i class="fa fa-key fa-fw"></i> <label id="stampUpdatedBy">NA</label>
                                <br />
                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="stampUpdatedDate">mm/dd/yyyy</span></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>List of Loan Application Forms</h4>
                        </div>
                        <div class="panel-heading">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                            <input type="text" id="searchLoanApplication" class="form-control" placeholder="Search">
                                        </div>
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;</td>
                                    <td align="right">
                                        <button class="btn btn-success" id="btnAddLoanApplication" onclick="btnAddLoanApplicationOnclick()">
                                            <i class="fa fa-plus fa-fw"></i>&nbsp; Add
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-heading">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Loan Date</span>
                                <div id="cboLoanDate"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="btn-group col-md-7" id="navigationPageGrid">
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                                        <span class="glyphicon glyphicon-fast-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                                        <span class="glyphicon glyphicon-step-backward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                                        <span class="glyphicon glyphicon-step-forward"></span>
                                    </button>
                                    <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                                        <span class="glyphicon glyphicon-fast-forward"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        // global variables
        var cboLoanDate;

        // create cbo date for loan date
        function createCboLoanDate() {
            cboLoanDate = new wijmo.input.InputDate('#cboLoanDate', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                mask: '99-99-9999',
                onValueChanged: function () {

                }
            });
        }

        // on load page
        window.onload = function () {
            createCboLoanDate();
        }
    </script>
</body>
</html>