<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Report</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-print fa-fw"></i>  Reports <small>Generate and Print Reports</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Software">Dashboard</a>
                            </li>
                            <li class="active">
                                Reports
                            </li>
                        </ol>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#dailyReleaseMonitoringReport">Daily Release Monitoring</a></li>
                    <li><a data-toggle="tab" href="#collectionReport">Collection Report</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div id="dailyReleaseMonitoringReport" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <div class="panel-heading" align="right">
                                <table border="0" style="width: 100%;">
                                    <tr>
                                        <td style="width: 38%;">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                <input type="text" id="dailyReleaseMonitoringReportSearhInput" class="form-control" placeholder="Search" />
                                            </div>
                                        </td>
                                        <td style="width: 1%;"></td>
                                        <td style="width: 30%;">
                                            <div class="input-group">
                                                <span class="input-group-addon"> Start Date</span>
                                                <div id="cboStartDatedailyReleaseMonitoringReport" style="width: 100%;"></div>
                                            </div>
                                        </td>
                                        <td style="width: 1%;"></td>
                                        <td style="width: 30%;">
                                            <div class="input-group">
                                                <span class="input-group-addon"> End Date</span>
                                                <div id="cboEndDateDailyReleaseMonitoringReport" style="width: 100%;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div id="collectionReport" class="tab-pane fade">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#collectionReportHeader">Header</a></li>
                            <li><a data-toggle="pill" href="#collectionReportDetail">Detail</a></li>
                        </ul>
                        <br />
                        <div class="tab-content">
                            <div id="collectionReportHeader" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 38%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="collectionReportHeaderSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> Start Date</span>
                                                        <div id="cboStartDateCollectionReportHeader" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> End Date</span>
                                                        <div id="cboEndDateCollectionReportHeader" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                            <div id="collectionReportDetail" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 38%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="collectionReportDetailSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> Start Date</span>
                                                        <div id="cboStartDateCollectionReportDetail" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> End Date</span>
                                                        <div id="cboEndDateCollectionReportDetail" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>