<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Report</title>

    <!-- Styles -->
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("SoftwareHeader")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="">
                            <i class="fa fa-print fa-fw"></i>  Reports <small>Generate and Print Reports</small>
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Software">Dashboard</a>
                            </li>
                            <li class="active">
                                Reports
                            </li>
                        </ol>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#loanReport">Loan Report</a></li>
                    <li><a data-toggle="tab" href="#collectionReport">Collection / Remittance Report</a></li>
                    <li><a data-toggle="tab" href="#expensesReport">Expenses Report</a></li>
                    <li><a data-toggle="tab" href="#setUpReport">Setup Report</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div id="loanReport" class="tab-pane fade in active">
                        <ul class="nav nav-pills" style="background-color: #f7f7f7">
                            <li class="active"><a data-toggle="pill" href="#dailyReleaseMonitoringReport">Daily Release Monitoring</a></li>
                            <li><a data-toggle="pill" href="#requestForm">Request Form</a></li>
                        </ul>
                        <br />
                        <div class="tab-content">
                            <div id="dailyReleaseMonitoringReport" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 28%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="dailyReleaseMonitoringReportSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> Start Date</span>
                                                        <div id="cboStartDateDailyReleaseMonitoringReport" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> End Date</span>
                                                        <div id="cboEndDateDailyReleaseMonitoringReport" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 9%;" align="right">
                                                    <button class="btn btn-primary btn-block" onclick="btnPrintDailyReleaseMonitoringReport()"><i class="fa fa-print fa-fw"></i> Print</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                            <div id="requestForm" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 28%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="requestFormSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> Start Date</span>
                                                        <div id="cboStartDateRequestForm" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> End Date</span>
                                                        <div id="cboEndDateRequestForm" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 9%;" align="right">
                                                    <button class="btn btn-primary btn-block" onclick="btnPrintRequestFormDetail()"><i class="fa fa-print fa-fw"></i> Print</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collectionReport" class="tab-pane fade">
                        <ul class="nav nav-pills" style="background-color: #f7f7f7">
                            <li class="active"><a data-toggle="pill" href="#collectionReportActive">Active Collection</a></li>
                            <li><a data-toggle="pill" href="#collectionReportOverdue">Overdue Collection</a></li>
                            <li><a data-toggle="pill" href="#collectiblesReport">Overdue Collectibles / Receivables</a></li>
                        </ul>
                        <br />
                        <div class="tab-content">
                            <div id="collectionReportActive" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 28%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="collectionReportActiveSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> Start Date</span>
                                                        <div id="cboStartDateCollectionReportActive" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> End Date</span>
                                                        <div id="cboEndDateCollectionReportActive" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 9%;" align="right">
                                                    <button class="btn btn-primary btn-block" onclick="btnPrintCollectionReportActive()"><i class="fa fa-print fa-fw"></i> Print</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                            <div id="collectionReportOverdue" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 28%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="collectionReportOverdueSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> Start Date</span>
                                                        <div id="cboStartDateCollectionReportOverdue" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 30%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> End Date</span>
                                                        <div id="cboEndDateCollectionReportOverdue" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 9%;" align="right">
                                                    <button class="btn btn-primary btn-block" onclick="btnPrintCollectionReportOverdue()"><i class="fa fa-print fa-fw"></i> Print</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                            <div id="collectiblesReport" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-heading" align="right">
                                        <table border="0" style="width: 100%;">
                                            <tr>
                                                <td style="width: 90%;">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i> </span>
                                                        <input type="text" id="collectionReportOverdueSearchInput" class="form-control" placeholder="Search" />
                                                    </div>
                                                </td>
                                                <td style="width: 1%;"></td>
                                                <td style="width: 9%;" align="right">
                                                    <button class="btn btn-primary btn-block" onclick="btnPrintCollectionReportOverdue()"><i class="fa fa-print fa-fw"></i> Print</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>