/* software custom styles */
.software-section {
    margin-top: 70px;
}

.item-header {
    font-weight: bold;
    font-size: 100%;
}

.button-item {
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.flexgridHeight {
    height: 450px;
}

@media screen and (max-width: 768px) {
    .flexgridHeight {
        height: 870px;
    }
}

.form-table {
    width: 100%;
}

td.td-label {
    color: #808080;
    width: 30%;
}

td.td-label, td.td-data {
    padding-top: 5px;
    padding-bottom: 5px;
}

.numberField {
    text-align: right;
    width: 50%;
}
