/* software custom styles */
.software-section {
    margin-top: 70px;
}

/* format detail cells */
.item-header {
    font-weight: bold;
    font-size: 100%;
}

.button-item {
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.flexgridHeight {
    height: 450px;
}

@media screen and (max-width: 768px) {
    .flexgridHeight {
        height: 870px;
    }
}

.td-label {

}

.td-data {

}
